.ranking-list {
    margin-top: 30px;
    min-width: 220px;

    &-title-container {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 18px;
            font-weight: bold;
            color: black;
        }

        .sub-title {
            margin-top: 5px;
            font-size: 12px;
            font-weight: bold;
            color: gray;
        }
    }

    .street-list {
        margin-bottom: 10px;

        .ranklist-item {
            width: 100%;
            position: relative;

            &:hover {
                background-color: rgba(29, 165, 122, 0.158);
            }

            .flag-icon {
                margin-left: 10px;
                font-size: 20px;
                font-style: italic;
                color: red;
            }

            .rank {
                align-self: flex-end;
                margin-left: 5px;
                margin-right: 50px;
                font-size: 12px;
                font-weight: bold;
                color: black;
            }

            .rate {
                position: absolute;
                left: 100px;
            }
        }
    }

    .configuration {
        display: flex;
        flex-direction: column;

        .configuration-item {
            margin: 5px 0;
        }
    }
}
