.ranking-list {
    margin-top: 30px;
    min-width: 220px;

    &-title-container {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 18px;
            font-weight: bold;
            color: black;
        }

        .sub-title {
            margin-top: 5px;
            font-size: 12px;
            font-weight: bold;
            color: gray;
        }
    }

    .street-list {
        margin-bottom: 10px;
    }
}
