@import '../../style/theme.scss';

.monitor {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 20px;

    .title {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 2px;
    }

    .data-panel {
        width: 260px;
        margin-bottom: 10px;
        border: 2px solid $primary-color;

        &:hover {
            box-shadow: 1px 1px 5px 5px $light-primary-color;
        }

        &-header {
            padding: 5px 0;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            border-bottom: 1px solid $primary-color;
        }

        &-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;

            .street-data {
                display: flex;
                flex-direction: column;
                margin-right: 10px;
            }
        }
    }

    .player {
        width: 260px;
        height: 180px;
        object-fit: fill;
    }

    .thermal-map {
        width: 260px;
        height: 180px;
        margin: 10px 0;
    }
}
