@import '../../../style/theme.scss';

.admin-detail {
    width: 100vw;

    .detail-header {
        margin-top: 60px;
        margin-left: 200px;

        .data-item {
            &:first-child {
                margin-right: 20px;
            }

            .data-desc {
                margin-right: 16px;
                color: $primary-color;
                font-weight: bold;
                font-size: 18px;
            }

            .data-value {
                color: black;
                font-size: 16px;
                font-style: italic;
            }
        }

        .current-address {
            float: right;
            margin-right: 240px;
        }
    }

    &-body {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 100px;

        .monitor-container {
            display: flex;
            flex-direction: column;
            margin-right: 100px;

            .detail-monitor {
                width: 500px;
                height: 350px;
                object-fit: fill;
            }
        }

        .thermal-map-container {
            display: flex;
            flex-direction: column;

            .detail-thermal-map {
                width: 400px;
                height: 300px;
            }
        }

        span {
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
        }
    }
}
