.app {
    .header {
        height: 68px;
        width: 100vw;
        padding: 0 40px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;

        .title {
            position: relative;
            left: 20px;
            font-size: 18px;
            font-weight: bold;
            font-family: '黑体';
            color: white;
        }

        .menu {
            position: absolute;
            right: 60px;
        }
    }

    .footer {
        text-align: center;
        border-top: 1px solid rgba(167, 166, 166, 0.205);
    }
}
