@import '../../style/theme.scss';

.ranklist-item {
    position: relative;
    width: 100%;

    &-selected {
        background-color: $selected-color;
    }

    &:hover {
        background-color: $hover-color;
    }

    &-icon {
        color: red;
        font-size: 20px;
        font-style: italic;
    }

    .ant-list-item-content {
        .rank {
            align-self: flex-end;
            margin-right: 10px;
            margin-left: 5px;
            color: black;
            font-weight: bold;
            font-size: 13px;
        }

        .street-name {
            cursor: pointer;
        }

        .rate {
            position: absolute;
            left: 120px;
            font-size: 16px;
            font-style: italic;

            .car-flow {
                color: cornflowerblue;
            }

            .human-flow {
                color: gold;
            }
        }
    }

    &-most-crowded {
        .ant-list-item-content {
            .rank {
                color: red;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
}
