@import '../../../style/theme.scss';

.admin-login {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 120px;
    background-color: rgba(173, 216, 230, 0.253);

    &-title {
        margin-bottom: 10px;
        color: $primary-color;
        font-weight: bold;
        font-size: 24px;
    }
}
.admin-login h2{
    margin-bottom: 5px;
    color: $primary-color;
    font-weight: bold;
    font-size: 16px;
}